<head>
    <title>My Test Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="widdiv=device-widdiv, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="components/style.css">
    <script src="components/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="components/js.js" type="text/javascript"></script>

</head>
<body>
    <div class="wrapper">
        <div class="header">

        </div>
        <div class="panel-group">
            <div class="panel-head">
                <div class="table">
                    <div class="row">
                        <div class="col-check"></div>
                        <div class="col-id">ID</div>
                        <div class="col-app-id">APP ID</div>
                        <div class="col-first-date">OCCURED AT</div>
                        <div class="col-status">STATUS</div>
                        <div class="col-last-count">LAST COUNT</div>
                        <div class="col-last-date">LAST SEEN</div>
                        <div class="col-copy"></div>
                    </div>
                </div>
            </div>
            <div id="panel-1" class="panel">
                <div class="panel-header">
                    <div class="table">
                        <div class="row">
                            <div class="col-check">
                                <input type="checkbox" />
                            </div>
                            <div class="col-id expandable">250</div>
                            <div class="col-app-id expandable">maspay24</div>
                            <div class="col-first-date expandable">2017-06-07 12:18:15</div>
                            <div class="col-status expandable">Open</div>
                            <div class="col-last-count expandable">123</div>
                            <div class="col-last-date expandable">2017-06-07 12:19:47</div>
                            <div class="col-copy"><a href="#">Copy error to haste</a></div>
                        </div>
                    </div>
                </div>
                <div class="panel-tooltips">
                    <form>
                        <input type="text" class="task-url" value="" placeholder="Bug task URL"/>
                    </form>
                </div>
                <div class="panel-content">
                    <p>
                        asmdjiasnpdasj ipdnasj pidna spdasdfasdfasdf
                        asd
                        fasdfasdf,sdiofpaskdp[f,askd[fa
                        sdfkas,dfkomnasdjfionasdhfonapsdf
                        asdfjasiodfnasdiofnmajsiodmfjasidbfhasodfasda
                        sdfsiofnsdiofnasdiofhuasdonfjasdmfjsdip
                    </p>
                </div>
            </div>
            <div id="panel-2" class="panel">
                <div class="panel-header">
                    <p class="title">Hello2</p>
                </div>
                <div class="panel-tooltips"></div>
                <div class="panel-content">
                    <p>
                        asmdjiasnpdasj ipdnasj pidna spdasdfasdfasdf
                        asd
                        fasdfasdf,sdiofpaskdp[f,askd[fa
                        sdfkas,dfkomnasdjfionasdhfonapsdf
                        asdfjasiodfnasdiofnmajsiodmfjasidbfhasodfasda
                        sdfsiofnsdiofnasdiofhuasdonfjasdmfjsdip
                    </p>
                </div>
            </div>
            <div id="panel-3" class="panel">
                <div class="panel-header">
                    <p class="title">Hello3</p>
                </div>
                <div class="panel-tooltips"></div>
                <div class="panel-content">
                    <p>
                        asmdjiasnpdasj ipdnasj pidna spdasdfasdfasdf
                        asd
                        fasdfasdf,sdiofpaskdp[f,askd[fa
                        sdfkas,dfkomnasdjfionasdhfonapsdf
                        asdfjasiodfnasdiofnmajsiodmfjasidbfhasodfasda
                        sdfsiofnsdiofnasdiofhuasdonfjasdmfjsdip
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>