.wrapper {
    margin: auto;
    width: 70%;
}

div.panel, .panel-head {
    display: block;
    clear: both;
    float: left;
    border: 1px solid #ededed;
    width: 100%;
    margin-bottom: 2px;
    padding: 7px 10px 5px 10px;
}
.panel-head{
    font-family: sans-serif;
    font-weight: bold;
}
div.panel:hover {
    background-color: #f7f7f7;
    /*cursor: pointer;*/
}
.active {
    background-color: #f7f7f7;
}
.panel-content, .panel-tooltips {
    display: none;
}
/*.checkbox{
    border: 1px solid black;
    margin-top: 2px;
    margin-left: 20px;
    width: 10px;
    height: 10px;
    background-color: white;
}
.checkbox:hover{
    background-color: #ecf2f2;
    cursor: default;
}*/
.panel-tooltips {
    width: 100%;
    padding-top: 10px;
}
.panel-tooltips > form > input {
    border: 1px;
    border-style: solid;
    border-color: #e1eaeb;
    border-radius: 10px;
    width: 30%;
    padding: 0px 10px;
    height: 35px;
}
.panel-tooltips > form > .task-url {
    width: 30%;
}
.panel-tooltips > form > .task-url:focus{
    border: 2px;
    border-style: solid;
    border-color: #e1eaeb;
    border-radius: 10px;
}
.table {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    table-layout: fixed;
}
.table > .row {
    display: table-row;
    
}
.table > .row > div{
    display: table-cell;
}
.expandable{
    cursor: pointer;
    display: inline-block;
}
.table .col-check{
    padding: auto;
    width: 5%;
}
.table .col-id, .table .col-app-id, .table .col-status, .table.col-last-count {
    width: 10%;
}   
.table .col-first-date, .table .col-last-date{
    width: 20%;
}
.table.col-copy{
    width: 15%;
}